In [1]:
# Dependencies
import requests as req
import numpy as np
import pandas as pd
import json
import time
import os
import nltk.data

# TEST

In [2]:
# TEST NYT URL
url = "https://api.nytimes.com/svc/search/v2/articlesearch.json?"
api_key = "150fadacaba14946b20ef8c25cb8e6de"

In [3]:
# TEST search with one ticker
q = "IBM"

In [4]:
# TEST dates with fixed dates
begin_date = "20180115"
end_date = "20180119"

In [5]:
# Test NYT query URL with one ticker
query = url + "api-key=" + api_key + "&q=" + q + "&begin_date=" + begin_date + "&end_date=" + end_date
print(query)

https://api.nytimes.com/svc/search/v2/articlesearch.json?api-key=150fadacaba14946b20ef8c25cb8e6de&q=IBM&begin_date=20180115&end_date=20180119

In [6]:
# NYT Query
query = url + "api-key=" + api_key + "&q=" + q + "&begin_date=" + begin_date + "&end_date=" + end_date

print(query)
# Retrieve articles
articles = req.get(query).json()["response"]["docs"]

for article in articles:
    print("A snippet from the article: '" + article["snippet"] + "'.\n")

https://api.nytimes.com/svc/search/v2/articlesearch.json?api-key=150fadacaba14946b20ef8c25cb8e6de&q=IBM&begin_date=20180115&end_date=20180119
A snippet from the article: 'Shares in International Business Machines rose nearly 2 percent on Wednesday, helped by a double-notch upgrade for the company from Barclays ahead of fourth-quarter results on Thursday.'.

A snippet from the article: 'IBM reported its first quarter of revenue growth in more than five years as the company ramps up its cloud computing business and looks for new opportunities from its investments in artificial intelligence.'.

A snippet from the article: 'The world's largest container shipping firm A.P. Moller-Maersk is teaming up with IBM to create an industry-wide trading platform it says can speed up trade and save billions of dollars.'.

A snippet from the article: 'For five and half years IBM has reported a steady erosion of revenue, a losing streak that analysts predict will end on Thursday.'.

A snippet from the article: 'The gain was modest — revenue rose by 4 percent — but the company’s fourth-quarter report is a sign that IBM’s finances are stabilizing.'.

A snippet from the article: 'International Business Machines Corp's revenue rose for the first time in 23 quarters, beating analysts' estimates, but the company warned that a higher tax rate this year would eat into its profit.'.

A snippet from the article: 'Technology is advancing by leaps and bounds.'.

A snippet from the article: 'Asian stock markets were uneven and the dollar fell on Friday following Wall Street's retreat as the threat of a U.S. federal government shutdown loomed on the weekend.'.

A snippet from the article: 'Avaya Holdings Corp shares started trading on Wednesday on the New York Stock Exchange, the first time the enterprise telecommunications provider has been public in more than a decade.'.

A snippet from the article: 'Wall Street fell on Thursday as losses in industrials and interest-rate sensitive sectors offset marginal gains in tech stocks.'.

In [7]:
# Test article count
article_count = len("snippet")
print(article_count)

7

In [8]:
cd vaderSentiment_master

C:\Users\craig\Desktop\PythonCode\python-challenge\corporate_failure_bounce\vaderSentiment_master

In [9]:
cd vaderSentiment

C:\Users\craig\Desktop\PythonCode\python-challenge\corporate_failure_bounce\vaderSentiment_master\vaderSentiment

In [10]:
import vaderSentiment

In [11]:
# Import and Initialize Sentiment Analyzer
from vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [12]:
# Test Vader Analysis without  loop

Article_Sentiment = article["snippet"]
compound = analyzer.polarity_scores(Article_Sentiment)["compound"]
pos = analyzer.polarity_scores(Article_Sentiment)["pos"]
neu = analyzer.polarity_scores(Article_Sentiment)["neu"]
neg = analyzer.polarity_scores(Article_Sentiment)["neg"]
            
# Print Analysis
print("Compound Score: %s" % compound)
print("Positive Score: %s" % pos)
print("Neutral Score: %s" % neu)
print("Negative Score: %s" % neg)

Compound Score: -0.0772
Positive Score: 0.109
Neutral Score: 0.769
Negative Score: 0.122

In [13]:
Sentiment_Summation = compound 
print(Sentiment_Summation)

-0.0772

# PRODUCTION

In [21]:
# Change to project root directory
# ls

In [22]:
# Change to project root directory
#cd ..

In [23]:
# Import csv to stock_price_pd
stock_price_pd = pd.read_csv("price drops.csv")

# Preview the data
stock_price_pd.head()

   Unnamed: 0 Ticker  Opening Price  Closing Price Close_Date  Open_Date
0           0    MRC          17.34          15.29  6/23/2017  6/16/2017
1           1    MRC          10.08           8.94  2/12/2016   2/5/2016
2           2    MRC          12.78          11.38   1/8/2016   1/1/2016
3           3    MRC          12.84          11.35  8/21/2015  8/14/2015
4           4    MRC          14.98          13.22  7/24/2015  7/17/2015

In [24]:
#Add columns for Article Description
stock_price_pd["Article_Count"] = ""
stock_price_pd["Article_Avg_Sentiment"] = ""
stock_price_pd["Sentiment_Summation"] = ""
stock_price_pd.head()

,Unnamed: 0,Ticker,Opening Price,Closing Price,Close_Date,Open_Date,Article_Count,Article_Avg_Sentiment,Sentiment_Summation
0,0,MRC,17.34,15.29,6/23/2017,6/16/2017,,,
1,1,MRC,10.08,8.94,2/12/2016,2/5/2016,,,
2,2,MRC,12.78,11.38,1/8/2016,1/1/2016,,,
3,3,MRC,12.84,11.35,8/21/2015,8/14/2015,,,
4,4,MRC,14.98,13.22,7/24/2015,7/17/2015,,,

In [ ]:
# Set dataframe variables for query
q = stock_price_pd["Ticker"]
Open_Date = stock_price_pd["Open_Date"]
Close_Date = stock_price_pd["Close_Date"]

In [31]:
# Loop through and run search to get all articles

# Counter
row_count = 0

for index, row in stock_price_pd.iterrows():
    query = url + "api-key=" + api_key + "&q=" + q + "&begin_date=" + begin_date + "&end_date=" + end_date
print(query)

#Get article data
articles = req.get(query).json()["response"]["docs"]
        
    for article in articles:
        print("A snippet from the article: '" + article["snippet"] + "'.\n")
        
    # Store the article count into the Data Frame
        stock_price_pd.set_value(index, "Article_Count", article_count)

        # Run Vader Analysis with While loop
            while article in articles:
            Article_Sentiment = article["snippet"]
            compound = analyzer.polarity_scores(Article_Sentiment)["compound"]
            pos = analyzer.polarity_scores(Article_Sentiment)["pos"]
            neu = analyzer.polarity_scores(Article_Sentiment)["neu"]
            neg = analyzer.polarity_scores(Article_Sentiment)["neg"]
            # Capture Compound Value in Sentiment_Summation
            Sentiment_Summation = compound 
    try: 
        stock_price_pd.set_value(index, "Sentiment_Summation")
      
    except:
        #print("Error with data. Skipping")
        continue  
        
# Reset acticle count
row_count = 0

IndentationError: unexpected indent (<ipython-input-31-f6c5fcfcac00>, line 13)